replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

iamRoleArn: "arn:aws:iam::031293725770:role/my-eks-cluster-myapp-fastapi-app-role"  # Will be set by Terraform output

env:
  - name: DB_SECRET_NAME
    value: "app-db-secret"
  - name: LOG_LEVEL
    value: "debug"
  - name: ENVIRONMENT
    value: "dev"
