replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

env:
  - name: LOG_LEVEL
    value: "debug"
  - name: ENVIRONMENT
    value: "dev"
