replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

serviceAccount:
  create: true
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::031293725770:role/my-eks-cluster-myapp-fastapi-app-role"

env:
  - name: DB_SECRET_NAME
    value: "app-db-credentials"
  - name: LOG_LEVEL
    value: "debug"
  - name: ENVIRONMENT
    value: "dev"
