name: Deploy to EKS

on:
 workflow_dispatch:
 push:
  branches: ["master"]

env:
  ECR_URL: 031293725770.dkr.ecr.ap-south-1.amazonaws.com
  EKS_CLUSTER_NAME: my-eks-cluster 

jobs:
 deploy:
  environment: dev
  runs-on: ubuntu-latest
  steps:
  - name: Checkout
    uses: actions/checkout@v3

  - name: Configure AWS Credentials
    uses: aws-actions/configure-aws-credentials@v3
    with:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
      aws-region: ap-south-1

  - name: Login to Amazon ECR
    uses: aws-actions/amazon-ecr-login@v2

  - name: Build and Push Docker Image
    run: |
      IMAGE_TAG=${{ github.sha }}
      docker build -t $ECR_URL/dev/my-repo:$IMAGE_TAG .
      docker push $ECR_URL/dev/my-repo:$IMAGE_TAG

  - name: Update Kubeconfig
    run: aws eks update-kubeconfig --name my-eks-cluster

  - name: Checkout Helm Charts Repo
    run: |
      git clone https://github.com/akhilankam/helm-charts.git

  - name: Deploy with Helm
    run: |
      VALUES=charts-values/values-dev.yaml

      helm upgrade --install myapp ./helm-charts/fastapi-app \
        -f $VALUES \
        --set image.repository=$ECR_URL/dev/my-repo \
        --set image.tag=${{ github.sha }}
